<form method="post" action="/auth/login">
    <label>
        Почта
        <input type="email" name="email">
    </label>
    <label>
        Пароль
        <input type="password" name="password">
    </label>
    <button>Отправить</button>
</form>